@font-face {
    font-family: 'Proxima Nova exBl';
    src: url('fonts/ProximaNova-Black.woff2') format('woff2'),
        url('fonts/ProximaNova-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova 100';
    src: url('fonts/ProximaNovaT-Thin.woff2') format('woff2'),
        url('fonts/ProximaNovaT-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova  Lit';
    src: url('fonts/ProximaNovaA-Light.woff2') format('woff2'),
        url('fonts/ProximaNovaA-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Alt Th';
    src: url('fonts/ProximaNovaA-Thin.woff2') format('woff2'),
        url('fonts/ProximaNovaA-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Alt Rg';
    src: url('fonts/ProximaNovaA-Bold.woff2') format('woff2'),
        url('fonts/ProximaNovaA-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova bol';
    src: url('fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('fonts/ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Th';
    src: url('fonts/ProximaNova-Extrabld.woff2') format('woff2'),
        url('fonts/ProximaNova-Extrabld.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
    font-family: 'Proxima Nova Rg';
}

.container-fluid{max-width: 1200px;}

  a {
    color: #000;
  }
  
  /* header */
  button#city-btn {
    border: 1px solid #fff;
    border-width: 0px 2px 0px 2px;
}
.col-7.pr-0.form-div input[type=text]:focus {
    height: 45px;
    border-radius: 3px !important;
    border: 1px solid #fafbfc;
}
.col-7.pr-0.form-div input[type=text]{border: 1px solid #fafbfc;}
img.y-tube {
    margin-bottom: 10px;
    margin-top: 4px;
}
  .header {
    background-color: #fff;
   height: 130px;
  
    width: 100%;
    z-index: 3;
  }
  
  .header .menu {
    margin: 0;
    padding: 0;
    list-style: none;

   overflow: hidden;
    background-color: #fff;
  }
    .header .menu:hover{overflow: visible;} 
     /*  .header .menu:hover .mt-150{margin-top: -140px;} */

      .mt-150{margin-top: 0px;}

  .header .menu li{ position: relative;}
  
  .header .menu li a {
    display: block;
    padding: 20px 30px;
    font-size: 18px;
    text-decoration: none;
  }
  
  .header .menu li a:hover,
  .header .menu-btn:hover {
    text-decoration: none;
    color: #000;
  }
  
  .header .logo {
    display: block;
    float: left;
    text-decoration: none;
    padding-top: 18px;
  }
.header .logo img {
    width: 150px;
}
  
  /* menu */

  .header .menu {
    clear: both;
    max-height: 0;
    width: 73%;
    margin-left: auto;
    transition: max-height .2s ease-out;
  }

  .fix-top{ position: fixed; top: 0; left: 0;background-color: #fff;


  } 
  

  /*dropdown menu*/
  
  .header .menu li ul {
	background: #363a3e;
	visibility: hidden;
  opacity: 0;
  min-width: 16rem;
  position: absolute;
  transition: all 0.5s ease;
  padding: 0;
  margin: 0;
	left: 13px;
  display: none;
}

.header .menu li:hover > ul,
.header .menu li ul:hover {
  visibility: visible;
  opacity: 1;
  z-index: 11111;
  display: block;
}

.header .menu li ul li {
    clear: both;
  width: 100%;
  list-style: none;
}

.header .menu li ul li a {
    color: white;
    padding: 10px 15px;

    font-size: 15px;
}
.header .menu li ul li a:hover{
    color: #fff;
    background-color: #e65139;
}
 
/*drop down end*/

  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
   
    float: right;
    padding: 33px 0px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: none;
    width: 100%;
    height: 350px;

  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .header li {
      float: left;
     
    }
  
    .header .menu {
      clear: none;
     /* float: left;*/
     background-color: transparent;
      max-height: none;
     
    }
    .header .menu-icon {
      display: none;
    }
  }



/*  filters css from here */
.modal {

background: #000c;}
.btn-transparent:hover{    background-color: #363a3e;
    color: #ffffff;}
.btn-transparent {
    background-color: #ebedee;text-align: left;
    color: #818890;
    width: 100%;
    font-size: 19px;
    height: 45px;
    border-radius: 0px;
    margin-bottom: 0;
    font-family: 'Proxima Nova bol';}
    .dropdown-toggle::after{border: none;   
        }
       
    .dropdown img{ position: absolute; right: 10px; top: 17px;
    width: 12px; }        
    
    .dropdown-menu{ width: 100%; padding: 0;
         margin: 0; 
         background-color: #363a3e ;
          border: none; color: white;
         border-radius: 0px;
         z-index: 2;
       }

.dropdown-item {
    color: white;
    padding: 16px 13px;
    font-size: 15px;
}
         .dropdown-item:hover,.dropdown-item:focus,.dropdown-item:active{background-color: #e65139; color: white;}
       

         .btn-transparent:focus{   background-color: #ebedee;  outline:none;  color: black !important; box-shadow: none; }
        .btn-transparent.active {
    background-color: #ebedee;
    color: black !important;
    box-shadow: none;
}
                

        /*fency scroll*/

        .input-area{margin-bottom: 10px;}







.scrollbar
{
	
	float: left;
	    height: 217px;
	width: 100%;

	overflow-y: scroll;

}

.force-overflow
{
	min-height: 250px;
}


/*
 *  STYLE 3
 */

 #style-3::-webkit-scrollbar-track
 {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     background-color: transparent;
 }
 
 #style-3::-webkit-scrollbar
 {
     width: 6px;
     background-color: transparent;
 }
 
 #style-3::-webkit-scrollbar-thumb
 {
     background-color: #363a3e;
 }

body{position: relative; min-height: 100%;     padding-bottom: 650px;}
html{height: 100%;}

/* footer code now*/

footer{
    background-color: #363a3e; padding-top: 45px; color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0 ;
    font-size: 18px;
}
footer h2{font-size: 24px; 
    font-family: 'Proxima Nova bol'; 
    margin-bottom: 25px;
}
footer span{color: #979fa7; font-size: 18px;}

footer a{display: block; color: white;}

footer a:hover{color: white;}



footer p{ font-size: 14px; color: #979fa7; margin-top: 40px;}

a:hover{text-decoration: none;}

.form-div .cont-input::-webkit-input-placeholder,.form-div .cont-txtarea::-webkit-input-placeholder { /* Edge */
    color: #818890;
  }
  
  .form-div .cont-input:-ms-input-placeholder,.form-div .cont-txtarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #818890;
  }
  
  .form-div .cont-input::placeholder,.form-div .cont-txtarea::placeholder {
    color: #818890;
  }

  .form-div .cont-input:focus, .form-div .cont-input{ height: 41px; box-shadow: none; border-color: #818890;}

 .btn-primary, .btn-primary:hover,.btn-primary:focus,.btn-primary:active,
 .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle
 ,.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus
 {background-color: #818890; height: 45px; box-shadow: none; border: 1px solid #818890;     padding: .445rem .75rem;}

 .side-links{text-align: right; color: #979fa7; margin-top: 40px;}

.side-links a{font-size: 14px; color: #979fa7; padding-left: 10px; padding-right: 10px; display: inline-block;}


.form-div.admin-info .dropdown img {
    position: absolute;
    right: 10px;
    top: 15px;
    width: 11px;
}

/*footer end*/
/*banner start*/
.banner-heading{position: absolute; top: 40%; text-align: center;
font-size: 36px; color: white;     font-family: 'Proxima Nova bol';
  left: 0; right: 0;}
/*banner end*/
/* sky rise section/ */

.page-heading{font-size: 24px;  font-family: 'Proxima Nova bol';
 margin-top: 45px; margin-bottom: 30px;}

.para-sky{font-size: 18px !important; color: #000000; width: 94%; margin-bottom: 30px;}
/* sky rise section end */
/* img section  */
.thumb-heading{font-size: 18px; font-family: 'Proxima Nova bol'; 
        margin-top: 25px;
    margin-bottom: 10px;
  color: #000000;}
  p.page-para.mt-2 {
    margin-top: 15px !important;
}
.page-para {
    font-size: 16px;

    margin-bottom: 0px;
    font-family: 'Proxima Nova Rg';
}
span.pipe {
    color: #cccccc;
}
.read-more {
       font-size: 20px;
    margin-top: 0px;
    margin-right: 1px;
    font-family: 'Proxima Nova Rg';
    display: block;
    color: #e65139;
}

.read-more:hover{color:#e65139; }

.nav-btn.nav-ct-pre {
    padding: 15px;
    top: 21%;
    left: 0;
    position: absolute;
    border-left: 0;
    height: 86px;
    display: inline-block;
    color: transparent;
    width: 50px;
}
.nav-btn.nav-ct-next{   
    padding: 15px;
    top: 21%;
    color: transparent;
    right: 0px;
    position: absolute;
    font-size: 10px;
    
      
      border-right: 0;
    height: 86px;
    display: inline-block;
    width: 50px;
}

    .nav-btn.nav-ct-next::before{
          content: "\f054";
          color: white;
          font-size: 36px;
      
          
          font-family:'FontAwesome'
    } 

    .nav-btn.nav-ct-pre::before{
          content: "\f053";
          color: white;
          font-size: 36px;
      
          margin-left: -6px;
          font-family:'FontAwesome'
    } 

/* model css */
.modal-content{background-color: transparent; position: relative;}
button.close {
    position: absolute;
    right: 2px;
    top: 4px;
    padding: 5px;
    font-size: 34px;
    border-radius: 59px;
    height: 40px;
    width: 40px;
    background-color: white;
    opacity: 1;
}
.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover{opacity: 1; outline: none;}
/* model css end */
.phone,.mail{font-size: 18px; display: block; margin-left: 80px;}
.phone span,.mail span{padding-left: 10px; }

.phone::before{
  content: "\f095";
  color: black;
  font-size: 18px;
  font-family:'FontAwesome';
}

.mail::before{
content: "\f0e0";
  color: black;
  font-size: 18px;
  font-family:'FontAwesome';
}

.phone:hover,.mail:hover{ color: black }  


.form-div .form-control{background-color: #fafbfc;
 border-color: #979fa7;
 color: #818890; font-size: 15px; height: 45px; border-radius: 3px;}
.form-div .form-control:focus{box-shadow: none;}

.form-div  textarea{height: 100px !important; resize: none;}
 
.admin-info label {
    font-size: 15px;
    color: #818890;
    margin-bottom: 3px;
}
.admin-info .form-control{ color: black; }

/* custom check box */

.custom-control-label::before{border-color:#979fa7; }
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color:#e65139;
    border-color: #e65139;
}
.custom-control-label::before,.custom-control-label::after{
      width: 1.2rem;
    height: 1.2rem;
}

.custom-control-input:not(:disabled):active~.custom-control-label::before,.custom-control-input:focus~.custom-control-label::before{background: #e65139; border-color: #e65139; outline: none; box-shadow: none;}

.custom-control-label{ font-size: 14px;  color: #818890; font-family: 'Proxima Nova Rg';}

.custom-control-label span{color: #e65139;}
/* CUSTOM CHECK box-sizing:  CSS END */

/* btncs */
.orng-btn,.orng-btn:hover,.orng-btn:focus{
  box-shadow: none;
      background-color:#e65139;
      border: 1px solid #e65139;
      height: 45px;
      color: white;
          font-family: 'Proxima Nova Alt Rg';
          font-size: 14px;
          margin-top: 10px;
          margin-bottom: 10px;
}

/* project det5ail css */
.nav-btn.nav-pr-pre{color: transparent; 
  position: absolute; left: 15px; top: 45%;
}

.nav-btn.nav-pr-next{
  color: transparent; 
  position: absolute; right: 15px; top: 45%;
  margin-right: -25px;

}

.nav-btn.nav-pr-pre::before{
  content: "\f053";

    color: white;
    font-size: 36px;
 
    font-family: 'FontAwesome';
}
.nav-btn.nav-pr-next::before{
      content: "\f054";

    color: white;
    font-size: 36px;
    margin-left: -6px;
    font-family: 'FontAwesome';
}

.share {
    height: 20px;
    width: 15px;
    margin-left: 35px;
}
.list-head{
  font-size: 18px;
  display: block;
  color: #818890;
}

.list-dis{
  font-size: 18px;
  display: block;
  margin-bottom: 30px;
}


.price{ font-size: 36px;     font-family: 'Proxima Nova bol'; }

.date-path{ font-size: 18px; }

.col-greenish{color: #c3c8ce;}

.col-redish{color:#e65139 !important;}

.btn-greenish{ font-size: 18px;
color: #000000;
width: 100%;
text-align: left;
 background-color: #fafbfc;
 border-color: #979fa7;}

.btn-greenish:hover,.btn-greenish:focus,.btn-greenish:active{ 
background-color: #c3c8ce;
box-shadow: none;
border-color: #c3c8ce;
 }

 .down-text{ font-size: 15px; color: #818890; }

.col-witesh{color: #ebedee;}
/* tabs css */

/*Tabs*/
.resp-tabs-list li{
  background-color: #818890;
  font-family: 'Proxima Nova Alt Rg';
  color: white;
  font-size: 16px;
  border-radius: 3px;
padding: 13px 0px !important;
width: 12%;
text-align: center;
}
h2.resp-accordion{
    background-color: #818890;
  font-family: 'Proxima Nova Alt Rg';
  color: white;
  font-size: 16px;
  border-radius: 3px;
  border: none;
  margin-top: 5px;
}
h2.resp-tab-active{ background: #e65139 !important;}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #ffffff;
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #ffffff;
}   

.resp-tab-active {
    border: none !important;
    background: #e65139 !important;
}
#horizontalTab2 .resp-tabs-list li{ width: 24.7%; }

.ml-nag{margin-left: -100px;}


@media only screen and (max-width:780px){

.how-use{display:none;float:left;width:300px;}
}
#tabInfo{display:none;}
/* tabs css end */

/* tab data css  */

.tab-list{ margin:0; padding: 0; }
.tab-list li{ list-style: none;
margin-top:  15px;
position: relative;
font-size: 15px;
 display:  inline-block; width: 19%; 
margin-left: 10px;
}

.tab-list li:first-child{ margin-left: 0px; }

 .tab-list li span{  font-family: 'Proxima Nova bol'; margin-top: 8px; 
margin-bottom: 3px;
 display: block;}

.resp-tab-content{padding: 0; padding-top: 30px;}


/* table */
.schools td,.table thead th{ border-color: #333333; border-width: 1px; font-family: 'Proxima Nova Rg';}
 .schools th{border-top: none}


.schools thead th{ color: #818890; font-size: 15px;  }

.schools thead th:first-child, .table tr td:first-child{ width: 50%; }

.schools tr td{font-size: 18px; color: #000000;}

/*******Ayyaz******/
button#lang-sres,#city-btn,#loc-btn {
    text-transform: uppercase;
}


/*******Ayyaz******/

table {
 
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
 
  border-bottom: 1px solid #43484c;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  font-size: 15px;
  color: #000000;
}

table th {
  font-size: 15px;
  letter-spacing: .1em;
  color: #818890;
  text-transform: uppercase;
 
}

.pl-40{ padding-left: 40px;}

table tr td .custom-control-label{padding-left: 5px;   font-size: 15px;
 color: #000000;}


table.dv-data tr th:nth-child(2),table.dv-data tr th:nth-child(4),table.dv-data tr th:nth-child(3)
,table.dv-data tr td:nth-child(2),table.dv-data tr td:nth-child(4),table.dv-data tr td:nth-child(3)

{width: 11%; text-align: center;}


table.prj-list tr th:nth-child(7),table.prj-list tr th:nth-child(5),table.prj-list tr th:nth-child(6)
,table.prj-list tr td:nth-child(7),table.prj-list tr td:nth-child(5),table.prj-list tr td:nth-child(6)

{width: 11%; text-align: center;}
table.prj-list tr th:last-child{width: 2%; color: transparent;}



@media screen and (max-width: 767px) {
  table {
    border: 0;
  }

table.dv-data tr th:nth-child(2),table.dv-data tr th:nth-child(4),table.dv-data tr th:nth-child(3)
,table.dv-data tr td:nth-child(2),table.dv-data tr td:nth-child(4),table.dv-data tr td:nth-child(3)
,table.prj-list tr th:nth-child(7),table.prj-list tr th:nth-child(5),table.prj-list tr th:nth-child(6)
,table.prj-list tr td:nth-child(7),table.prj-list tr td:nth-child(5),table.prj-list tr td:nth-child(6)
,table.prj-list tr th:last-child
{ text-align: right; width: 100%;}
  
.pl-40{ padding-left: 0px;     padding: .625em;}

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: none;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #43484c;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}

.tabs-prj .resp-tabs-list li{width: 17%;}
.tabs-prj h2.resp-tab-active{ background-color: #e65139 !important; }
/* table end */


.btn-mls,.btn-mls:focus,.btn-mls:active,.btn-mls:hover{background: #fafbfc; border-radius: 0; font-size: 18px; outline: none;
box-shadow: none;
height: 45px;
    font-family: 'Proxima Nova Rg';
    margin-bottom: 10px;
 border:1px solid #979fa7; width: 100%; text-align: left;}

 .col-md-12.pr-md-1 .dropdown img{ width: 12px; }

 .w-49{ width: 49%; }

.w-49 .btn-mls{color: #818890;}

  .corner-cross{ position: absolute; top: 0; right: 0; }
.corner-cross img{width: 40px;}

.box1{ border: 3px solid transparent; position: relative; } 

.box1:hover{border-color: #e65139; border-width: 3px;}

.admin-tabs .resp-tabs-list li:last-child{width: 55px;}
  
  .admin-tabs .resp-tabs-list li{width: 11.5%}

.pad-left{padding-left: 0px;}
.pad-right{padding-right: 0px;}

.pad-both{padding-right: 0px; padding-left: 0px;}


.pad-l-5{padding-left: 5px;}
.pad-r-5{padding-right: 5px;}

.pad-both-5{padding-right: 5px; padding-left: 5px;}

.bg-darker{background: #818890 !important; border-color: #818890 !important;}

        .flor-cross{right: 25px !important;
    top: 20px !important;}

  @media (min-width: 1300px) {
      .container-fluid{max-width: 1400px;}
  }


@media (min-width: 992px) and (max-width: 1200px){
  .nav-btn.nav-ct-next,.nav-btn.nav-ct-pre{top:13%;}
  
  .tab-list li{width: 18%;}
  
.phone, .mail {
    margin-left: 10px;
}

  .resp-tabs-list li{font-size: 14px;}

  #horizontalTab2 .resp-tabs-list li {
    width: 24.6%;
}

.ml-nag{margin-left: -50px;}
.admin-tabs .resp-tabs-list li {
    width: 11.2%;
}


}

@media (min-width: 768px) and (max-width: 991px){
  .header .menu{width: 73%;}

.phone, .mail {
  font-size: 16px;
    margin-left: 0px;
}

  .header .menu li a {
    padding: 20px 20px;

}

  .banner-heading{font-size: 30px;}
  
  .para-sky{width: 100%;}

  .thumb-heading{font-size: 15px;}
  
  .page-para{font-size: 14px;}
    .nav-btn.nav-ct-next,.nav-btn.nav-ct-pre{top:11%;}

     .tab-list li{width: 18%;}
  .resp-tabs-list li{font-size: 10px;}

  #horizontalTab2 .resp-tabs-list li {
    width: 24.5%;
}

.ml-nag {
    margin-left: -15px;
}
    .w-49 {
    width: 48.7%;
}

.admin-tabs .resp-tabs-list li {
    width: 10.99%;
}

table.dv-data tr th:nth-child(2), table.dv-data tr th:nth-child(4), table.dv-data tr th:nth-child(3), table.dv-data tr td:nth-child(2), table.dv-data tr td:nth-child(4), table.dv-data tr td:nth-child(3) {
    width: 16%;
    text-align: center;
}


table.dv-data tr .w-25 { 
    width: 21%!important;
}
}


  @media (min-width: 320px) and (max-width: 767px) 
  {
.header .menu li a {
    display: block;
    padding: 2px 0px;
    font-size: 15px;
    text-decoration: none;
}
	  .header .menu-btn:checked ~ .menu {
    max-height: none;
    width: 100%;
    height: auto;
}
	  button#city-btn {
    border: 1px solid #ebedee;
    border-width: 0px 2px 0px 2px;
}
	  .pr-0 {
    padding-right: 15px !important;
}
.pl-0 {
    padding-left: 15px !important;
}
.phone, .mail {

    margin-left: 0px;
}

.pad-left{padding-left: 15px;}
.pad-right{padding-right: 15px;}

.pad-both{padding-right: 15px; padding-left: 15px;}


.pad-l-5{padding-left: 15px;}
.pad-r-5{padding-right: 15px;}

.pad-both-5{padding-right: 15px; padding-left: 15px;}


    .schools thead th:first-child, .table tr td:first-child{width: 100%;}


    .page-para{margin-bottom:  10px;}

    .nav-btn.nav-ct-next,.nav-btn.nav-ct-pre{top: 28%}

    .mt-150{margin-top: 0px;}

     .tab-list li{    width: 98%;
    margin: 0 auto;}

    .header{height: auto; padding-bottom: 20px;}

   body{padding-bottom: 0px;} 
   
   footer{position: static; margin-top: 50px; padding-bottom: 30px;}

   .side-links{text-align: center; margin-top: 0px;}

   .banner-heading{font-size: 22px;}
   .ml-nag {
    margin-left: 0px;
}
  }

 @media (min-width: 320px) and (max-width: 540px) {
	 .read-more {
    font-size: 14px;
	 margin-top: 2px;}
	 .para-sky {
    font-size: 12px !important;
    color: #000000;
    padding-top: 5px;
    width: 100%;
    margin-bottom: 8px !important;
}
	 .col-md-12.mt-5 {
    margin-top: 0px !important;
}
	 .col-md-4.pad-both.mt-2 {
    margin-top: 2px !important;
}
.col-md-4.pad-left.mt-2{  margin-top: 2px !important;}
	 .date-path {
    font-size: 13px;
}
	 .share {
    height: 20px;
    width: 15px;
    margin-left: 11px;
}
	 .modal-body iframe {
    height: 140px;
}
	 button.close {
    position: absolute;
    right: 7px;
    top: 5px;
    padding: 2px;
    border-radius: 34px;
    height: 25px;
    width: 25px;
    background-color: white;
    opacity: 1;
}
	 img.mt-4 {
    margin-top: 22px !important;
}
	 .page-para {
	 font-size: 13px;}
	 .header .menu li ul{left:0px;    min-width: 100%;}
	 .force-overflow {
    min-height: 140px;
}
.scrollbar {
    float: left;
    height: 140px;
    width: 100%;
    overflow-y: scroll;
}
	 .dropdown-item {
    color: white;
    padding: 7px 13px;
    font-size: 13px;
}
	 .col-md-4.mt-2.pr-0 {
    margin-top: 2px !important;
}
.col-md-4.pl-md-0.mt-2{ margin-top: 2px !important;}
.btn-transparent, .btn-transparent:hover {
    background-color: #ebedee;
    color: #818890;
    width: 100%;
    text-align: left;
    height: 30px;
    font-size: 12px;
    border-radius: 0px;
    margin-bottom: 0;
    font-family: 'Proxima Nova bol';
}
.dropdown img {
    position: absolute;
    right: 10px;
    top: 9px;
    width: 12px;
}
   .banner-heading{font-size: 13px;}
   .nav-btn.nav-ct-pre::before{margin-left: -2px;}
.nav-btn.nav-ct-next, .nav-btn.nav-ct-pre {
    top: 10%;
    width: 22px;
    padding: 7px 5px;
    height: 40px;
}
      .page-heading{font-size: 18px;}
      .nav-btn.nav-ct-next::before,.nav-btn.nav-ct-pre::before{font-size: 16px;}
      .table td, .table th{    padding: .3rem; }
      .schools thead th:first-child, .table tr td:first-child{widows: auto;}

      .schools tr td{font-size: 13px;}
           .schools thead th{font-size: 11px;}
 }

  @media (min-width: 576px){
.modal-dialog {
    max-width: 90%;

    background: transparent;
}
}